@charset "UTF-8";

/* TYPICAL DEVICE BREAKPOINTS

Pequenas telas: < 600px
Celular: 600px < e > 768px
Tablet: 768px < e > 992px
Desktop: 992px < e > 1200px
Grandes telas: > 1200
*/

@media screen and (min-width: 768px) {
  span#burguer {
    display: none;
  }

  menu {
    display: block;
  }

  menu > ul > li {
    display: inline-block;
  }
  main {
    width: 768px;
  } 
}
