@charset "UTF-8";
/* Versão Mobile-First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1em;
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.774);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 12px black;
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
}

#tel {
    display: block;
}

#tab {
    display: none;
}
#imp {
    display: none;
}
#pc {
    display: none;
}

#tv {
    display: none;
}